nav {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.intro {
  display: inline-block;
  width: 100%;
  background-size: cover;
  font-size: 1.9em;
  text-align: center;
  transform: translateY(100%);
}

.console {
  background-color: #0f56b3;
  border-radius: 2px;
  color: #fff !important;
}

.navText {
  color: #1f8b24 !important;
  background-color: #c5f2c780;
  border-radius: 2px;
}
