* {
  margin: 0;
  padding: 0;
}
/* Navigation*/

.margin-left {
  margin-left: auto;
}

.Appbar-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18) !important;
}

/* Home = Main dashboard*/

.intro {
  display: inline-block;
  width: 100%;
  background-size: cover;
  text-align: center;
  transform: translateY(100%);
}

.intro .info-margin {
  margin: 30px;
}

.intro .info-style {
  display: inline;
  font-size: 16px;
  color: #1f8b24;
  background: #c5f2c780;
  border-radius: 1px;
  padding: 4px 8px;
}

/* ------------------------------------ */

.btn {
  border-radius: 2px !important;
  margin: 0px 5px;
}

.top-btn {
  transition: none;
  margin-left: 30px;
}

.btn:focus {
  box-shadow: none !important;
}

/* pages - why */

.page-why {
  display: inline-block;
  width: 100%;
  background-size: cover;
  text-align: center;
  transform: translateY(20%);
  justify-content: center;
}

/* pages - why - card */

.custom-card {
  width: 300px;
  height: 480px;
  background: #fff;
  border-radius: 10px;
  border: solid;
}

.upper-container {
  height: 100px;
  background: #c5f2c7;
}

.image-container img {
  background: #818081;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 5px;
  transform: translate(0%, 45px);
}

.lower-container {
  margin-top: 35%;
  background: #fff;
}
